body {
    background-color: aliceblue;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

.jersey-10-regular {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
}

input{
    margin: 0;
    padding: 0;
    
}

.header {
    height: 100px;
    width: 100%;
    background-color: blanchedalmond;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75);
}

h1 {
    margin: 0;
}


.container {
    width: min(800px, 80%);
    height: 1000px;
    background-color:#223;
    margin: 10px auto;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px -10px rgba(0,0,0,0.75);
    margin-bottom: 30px;
}

.calc {
    background-color: rgb(84, 85, 96);
    color: white;
    width: 250px;
    margin: 0 auto;
    padding: 30px 10px;
    border-radius: 10px;
    
    display: flex;
    justify-content: center;
}

input[type="button"] {
    width: 100%;
    height: 100%;
    font-size: xx-large;
    font-weight: 600;
    border-radius: 10px;
    border: none;
    color: white;
    padding: 4px;

}

.amplio {
    width: 100px;
}
.morado {
    background-color: rgb(142, 97, 121);
}
.gris {
    background-color: rgb(153, 153, 159);
}
.verde {
    background-color: rgb(131, 140, 129);
}

input[type="text"]{
    height: 40px;
    border-radius: 10px;
    border: none;
    width: calc(100% - 30px); /* Para contrarrestar los 15px*2 del padding: 5px 15px; de abajo*/
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 5px 15px;
    font-size: xx-large;

}
.texto {
    padding-bottom:  20px;
}

